<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <!-- 配置一个servlet -->
  <servlet>
  	<servlet-name>FirstServlet</servlet-name>
  	<servlet-class>gz.itcast.a_servlet.FirstServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletConfigDemo1</servlet-name>
    <servlet-class>gz.itcast.b_servletConfig.ServletConfigDemo1</servlet-class>
 	<init-param>
 		<param-name>encoding</param-name>
 		<param-value>GBK</param-value>
 	</init-param>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletContextDemo1</servlet-name>
    <servlet-class>gz.itcast.c_servletContext.ServletContextDemo1</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>servletContextDemo2</servlet-name>
    <servlet-class>gz.itcast.c_servletContext.servletContextDemo2</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletContextDemo3</servlet-name>
    <servlet-class>gz.itcast.c_servletContext.ServletContextDemo3</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletContextDemo4</servlet-name>
    <servlet-class>gz.itcast.c_servletContext.ServletContextDemo4</servlet-class>
  </servlet>





  <servlet-mapping>
  	<servlet-name>FirstServlet</servlet-name>
  	<url-pattern>/first</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletConfigDemo1</servlet-name>
    <url-pattern>/ServletConfigDemo1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletContextDemo1</servlet-name>
    <url-pattern>/ServletContextDemo1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servletContextDemo2</servlet-name>
    <url-pattern>/servletContextDemo2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletContextDemo3</servlet-name>
    <url-pattern>/ServletContextDemo3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletContextDemo4</servlet-name>
    <url-pattern>/ServletContextDemo4</url-pattern>
  </servlet-mapping>
</web-app>
